<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('head')%>
  <title><%=title%></title>
</head>
<body>
  <%-include('header')%>
  <div class="mainContent">
    <div class="formTitle">Edit Todo</div>
    <div class="form">
      <input id='title' class='formInput' type='text' name='title' value="<%=todo.title%>" required autofocus></input>
      <input id='date' class='formInput' type='date' name='date' value="<%=todo.fullDate%>" required></input>
      <textarea id='text' class='formTextArea' name="text" required><%=todo.text%></textarea>
      <input id='id' type='hidden' name='id' value="<%=todo.id%>"></input>
      <button id="submit" class='formInputBtn'>submit</button>
    </div>
  </div>
  <%-include('footer')%>
  <script src='../edit.js'></script>
</body>
</html>