<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('head')%>
  <title><%=title%></title>
</head>
<body>
  <%-include('header')%>
  <% if(user && user.id) { %>
    <div class="mainContent firstPage">
      <div class="greeting">HI! <%=user.nick%></div>
      <div class="explain">Write your Todos</div>
    </div>
  <%} else { %>
    <div class="mainContent firstPage">
      <div class="explain">Save your Todos</div>
      <div class="accountExplain">If you don't have a account</div>
      <a href='/join' class="joinBtn">Join here</a>
    </div>
  <% } %>
  <%-include('footer')%>
  <script>
    
  </script>
</body>
</html>