<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('head')%>
  <title><%=title%></title>
</head>
<body>
  <%-include('header')%>
  <div class="mainContent">
    <div class="formTitle">create account</div>
    <form class="form" method='POST' action='/auth/join'>
      <input class='formInput' type='email' placeholder="Email" name="email" required autofocus></input>
      <input class='formInput' type='text' placeholder="Nick" name="nick" required></input>
      <input class='formInput'type='password' placeholder="Password" name="password" required></input>
      <div className='alert'>
        <% if(joinError){ %>
          <div>
            <%=joinError %>
          </div>
        <% } %>
      </div>
      <input class='formInputBtn' type="submit" value="submit"></input>
    </form>
  </div>
  <%-include('footer')%>
</body>
</html>