<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('head')%>
  <title><%=title%></title>
</head>
<body>
  <%-include('header')%>
  <div class="mainContent">
    <% for(let i=0; i < todos.length; i++) { %>
      <div class="todo">
        <% if(todos[i].priority === 1) {%>
          <div class="todoHeader">
            <div class="todoTitle"><%=todos[i].title %></div>
            <div class="todoDate"><%=todos[i].fullDate %></div>
            <div class="btns">
              <button id="edit" class="btn edit" name="<%=todos[i].id%>">edit</button>
              <button id="delete" class="btn delete" name="<%=todos[i].id%>">delete</button>
            </div>
          </div>
        <% } else { %>
          <div class="todoHeader important">
            <div class="todoTitle"><%=todos[i].title %></div>
            <div class="todoDate"><%=todos[i].fullDate %></div>
            <div class="btns">
              <button id="edit"class="btn edit" name="<%=todos[i].id%>">edit</button>
              <button  id="delete" class="btn delete" name="<%=todos[i].id%>">delete</button>
            </div>
          </div>
        <% } %>
        <div class="todoMain">
          <div class="todoContents">
            <%=todos[i].text %>
          </div>
          <div class="todoPriority">
            <button id="changePriority" class="pbtn up" name="up <%=todos[i].id%> <%=todos[i].priority%>">up</button>
            <br/>
            <button id="changePriority" class="pbtn down" name="down <%=todos[i].id%> <%=todos[i].priority%>">down</button>
          </div>
        </div>
      </div>
      <input id="todoID" type="hidden" value="<%=todos[i].id%>"></input>
    <% } %>
  </div>
  <%-include('footer')%>
  <script src='../script/todos.js'></script>
</body>
</html>