<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='/index.css'/>
  <title><%=title%></title>
</head>
<body>
  <%-include('header')%>
  <div class="mainContent">
    <% for(let i=0; i < todos.length; i++) { %>
      <div class="todo">
        <div class="todoHeader">
          <div class="todoTitle"><%=todos[i].title %></div>
          <div class="todoDate"><%=todos[i].fullDate %></div>
          <div class="btns">
            <button class="btn complete" onclick="complete('<%=todos[i].id%>', '<%=todos[i].complete%>')">complete</button>
            <button class="btn edit" onclick="location.href='/edit'">edit</button>
            <button class="btn delete">delete</button>
          </div>
        </div>
        <div class="todoMain">
          <div class="todoContents">
            <%=todos[i].text %>
          </div>
          <div class="todoPriority">
            <button class="pbtn up">up</button>
            <br/>
            <button class="pbtn down">down</button>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  <%-include('footer')%>
  <script>
    function complete(_id, _complete){
      if(_complete==='0'){
        _complete=1;
      }else if(_complete==='1'){
        _complete=0;
      }

      let data={
        id : _id,
        complete : _complete,
      };

      const xhr=new XMLHttpRequest();
      xhr.onload=function(){
        // console.log(xhr.responseText);
      }
      xhr.onerror=function(){
        console.error(xhr.responseText);
      }
      
      xhr.open('PATCH','/todo/complete');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify(data));
    }
  </script>
</body>
</html>