<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='/index.css'/>
  <title><%=title%></title>
</head>
<body>
  <%-include('header')%>
  <div class="mainContent">
    <% for(let i=0; i < todos.length; i++) { %>
      <div class="todo">

        <% if(todos[i].priority === 1) {%>
          <div class="todoHeader">
            <div class="todoTitle"><%=todos[i].title %></div>
            <div class="todoDate"><%=todos[i].fullDate %></div>
            <div class="btns">
              <button class="btn edit" onclick="location.href='/edit/<%=todos[i].id%>'">edit</button>
              <button class="btn delete" onclick="deleteTodo('<%=todos[i].id%>')">delete</button>
            </div>
          </div>
        <% } else { %>
          <div class="todoHeader important">
            <div class="todoTitle"><%=todos[i].title %></div>
            <div class="todoDate"><%=todos[i].fullDate %></div>
            <div class="btns">
              <button class="btn edit" onclick="location.href='/edit/<%=todos[i].id%>'">edit</button>
              <button class="btn delete" onclick="deleteTodo('<%=todos[i].id%>')">delete</button>
            </div>
          </div>
        <% } %>
        <div class="todoMain">
          <div class="todoContents">
            <%=todos[i].text %>
          </div>
          <div class="todoPriority">
            <button class="pbtn up" onclick="prio('up', '<%=todos[i].id%>', '<%=todos[i].priority%>')">up</button>
            <br/>
            <button class="pbtn down"onclick="prio('down', '<%=todos[i].id%>', '<%=todos[i].priority%>')">down</button>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  <%-include('footer')%>
  <script>
    function deleteTodo(_id){
      if(confirm('really')){
        let data={
          id : _id
        }

        const xhr= new XMLHttpRequest();
        xhr.onload=function(){
          location.href='/todos';
        }
        xhr.onerror=function(){
          console.error(xhr.responseText);
        }

        xhr.open('DELETE', '/todo/delete')
        xhr.setRequestHeader('Content-Type','application/json');
        xhr.send(JSON.stringify(data));
      }
    }

    function prio(_event, _id, _priority){
      if(_event === 'up'){
        if(_priority === '1'){
          _priority =2;
        }
        if(_priority === '2'){
          return ;
        }
      }

      if(_event === 'down'){
        if(_priority === '1'){
          return;  
        }
        if(_priority === '2'){
          _priority=1;
        }
      }

      let data={
        id : _id,
        priority : _priority,
      }

      const xhr= new XMLHttpRequest();
      xhr.onload=function(){
        location.href='/todos';
      }
      xhr.onerror=function(){
        console.error(xhr.responseText);
      }

      xhr.open('PATCH', '/todo/priority')
      xhr.setRequestHeader('Content-Type','application/json');
      xhr.send(JSON.stringify(data));
    }
  </script>
</body>
</html>